.winner-container{
    width:100vw;
    height:100vh;

    position:fixed;
    top:0;
    left:0;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background: linear-gradient(135deg,#1e3c72,#2a5298);
    color:white;
    text-align:center;
}

.winner-text{
    font-size:60px;
    margin-bottom:30px;
}

.replay-btn{
    padding:14px 30px;
    font-size:20px;
    border:none;
    border-radius:10px;
    background:#ff5252;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

.replay-btn:hover{
    background:#ff2e2e;
}